*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  border: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media (max-width: 340px) {
    font-size: 47%;
  }
}

body {
  font: 1.6em poppins;
  margin: 3rem 10.2%;
  overflow-x: hidden;
  @media (max-width: 425px) {
    margin: 1rem 10.2%;
  }
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
  background: none;
  font-family: inherit;
}

img {
  height: auto;
}
